{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} - Data Income Expense{% endblock title %}


{% block content %} {% csrf_token %}
<div class="page-wrapper mx-md-2">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-coins">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 14c0 1.657 2.686 3 6 3s6 -1.343 6 -3s-2.686 -3 -6 -3s-6 1.343 -6 3z" />
                            <path d="M9 14v4c0 1.656 2.686 3 6 3s6 -1.344 6 -3v-4" />
                            <path
                                d="M3 6c0 1.072 1.144 2.062 3 2.598s4.144 .536 6 0c1.856 -.536 3 -1.526 3 -2.598c0 -1.072 -1.144 -2.062 -3 -2.598s-4.144 -.536 -6 0c-1.856 .536 -3 1.526 -3 2.598z" />
                            <path d="M3 6v10c0 .888 .772 1.45 2 2" />
                            <path d="M3 11c0 .888 .772 1.45 2 2" />
                        </svg>
                        <div class="ms-2">Income Expense Data Table</div>
                        <span class="ms-4 badge badge-sm bg-green-lt text-uppercase">Daily</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">

                <div class="col-md-15">

                    <table id="incomeExpenseDataTable" class="table-data table table-striped"
                        data-model="IncomeExpenseData" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Transaction</th>
                                <th>Category</th>
                                <th>Raw Amount</th>
                                <th>Raw Currency</th>
                                <th>Note</th>
                                <th>Last Edit</th>
                                <th>Last Edit By</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in incomeExpenseData %}

                            <tr>
                                <td data-column="id">{{ item.id }}</td>
                                <td data-id="{{item.id}}" data-column="transactionDateTime" class = "editable">{{ item.transactionDateTime }}</td>
                                <td data-id="{{item.id}}" data-column="category" class = "editable">{{ item.category }}</td>
                                <td data-id="{{item.id}}" data-column="rawAmount" class = "editable">{{ item.rawAmount }}</td>
                                <td data-id="{{item.id}}" data-column="rawCurrency" class = "editable">{{ item.rawCurrency }}</td>
                                <td data-id="{{item.id}}" data-column="note" class = "editable">{{ item.note }}</td>
                                <td data-id="{{item.id}}" data-column="lastEdit">{{ item.lastEdit }}</td>
                                <td data-id="{{item.id}}" data-column="lastEditBy">{{ item.lastEditBy }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock content %}


{% block extrajs %}
<script>


    $(document).ready(function () {

        var busy = false;
        var allTable = $('.table-data');
        var table;
        var selectedModel;
        var blurTimeout;

        console.log(allTable);

        allTable.DataTable({
            "paging": false, // Disable pagination if needed
            "info": false, // Disable info text if needed
            "searching": false, // Disable search box if needed
            "autoWidth": false,
            /*"columnDefs": [
               { "targets": "_all", "className": "editable" } // Add editable class to all columns
            ] */
        });

/*         //add class to all td
        allTable.find('td').addClass('editable');

        //remove class editable from data-column="id", "LastEdit", and "LastEditBy"
        allTable.find('td[data-column="id"]').removeClass('editable');
        allTable.find('td[data-column="LastEdit"]').removeClass('editable');
        allTable.find('td[data-column="LastEditBy"]').removeClass('editable');
        refreshTable(); */


        //Add cell edit event
        allTable.on('click', 'tbody td.editable', function () {


            if (!busy) {
                busy = true;

                var cell = $(this);
                var currentValue = cell.text();
                var cell_id = cell.data('id');
                var cell_column = cell.data('column');


                if (!cell.hasClass('editing')) {
                    cell.addClass('editing');

                    $('.saveBtn').remove();
                    $('.cancelBtn').remove();

                    var container = $('<div class="input-btn-container"></div>');
                    var input = $('<input type="text" class="editable-input form-control" value="' + currentValue + '">');
                    container.append(input);

                    var saveBtn = $('<button type="button" class="btn btn-success saveBtn btn-primary float-end">Save</button>');
                    var cancelBtn = $('<button type="button" class="btn btn-danger cancelBtn btn-secondary float-end">Cancel</button>');
                    container.append(saveBtn);
                    container.append(cancelBtn);

                    cell.html(container);

                    input.focus();
                    input.get(0).setSelectionRange(0, input.val().length);

                    // Event delegation for Save and Cancel buttons
                    container.on('click', '.saveBtn', function () {
                        updateCellValue(cell, input);
                        clearTimeout(blurTimeout);
                    });

                    container.on('click', '.cancelBtn', function () {
                        cancelEdit(cell, currentValue);
                        clearTimeout(blurTimeout);
                    });

                    input.on('keyup', function (event) {
                        if (event.keyCode === 13) { // Enter key
                            event.preventDefault();
                            updateCellValue(cell, input);
                        } else if (event.keyCode === 27) { // Escape key
                            event.preventDefault();
                            cancelEdit(cell, currentValue);
                        }
                        clearTimeout(blurTimeout);
                    });

                    // Blur event handling
                    input.on('blur', function () {
                        blurTimeout = setTimeout(function () {
                            cancelEdit(cell, currentValue);
                        }, 100); // Delay in milliseconds
                    });

                }



                //---------- function for editable ----------//

                function updateCellValue(cell, input) {
                    var updateValue = input.val();
                    console.log(updateValue);

                    // Send data to Django view using AJAX
                    // Get the CSRF token from the form
                    let csrfToken = $("input[name=csrfmiddlewaretoken]").val();

                    // update model
                    $.ajax({
                        url: window.location.href, // Replace with the actual URL of your Django view
                        type: 'POST',
                        data: {
                            'action': 'update_item',
                            'updateValue': updateValue,
                            'cell_id': cell_id,
                            'cell_column': cell_column,
                        },
                        //dataType: 'json',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrfToken);
                        },
                        success: function (response) {
                            cell.text(updateValue);
                            cell.removeClass('editing'); // Remove editing class
                            console.log('Success updateCellValue:', response);
                            refreshTable();
                            busy = false;

                        },
                        error: function (error) {
                            console.log('Error:', error);
                            cell.removeClass('editing'); // Remove editing class
                            busy = false;
                        }
                    });
                }

                function cancelEdit(cell, currentValue) {
                    cell.text(currentValue);
                    cell.removeClass('editing'); // Remove editing class
                    busy = false;
                }
            }
        });

        //---------- function for entire table ----------//

        function refreshTable() {

            const rows = allTable.find('tr'); // Find rows within the table using jQuery

            rows.each(function () { // Loop through rows using jQuery each()
                const cellEnabled = $(this).find('td[data-column="enabled"]'); // Select cell within the current row
                if (cellEnabled.text().trim() === 'False') { // Use jQuery methods for text content
                    $(this).addClass('table_disabled'); // Add class using jQuery
                }
                else {
                    $(this).removeClass('table_disabled');
                }
            });

        }

    });
</script>
{% endblock extrajs %}