{% load static %}

<!-- Tabler Core -->
<script src="{% static 'dist/js/tabler.min.js' %}?1684106062" defer></script>
<script src="{% static 'dist/js/demo.min.js' %}?1684106062" defer></script>

<!-- DataTable -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tabler@latest/dist/js/tabler.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.4/datatables.min.js"></script>